<%if message.user == current_user%>
  <div class="talk_right">
      <p><%= "#{message.content}" %></p>
  </div>
<%else%>
  <div class="talk_left">
   <%if message.user.image? %>
      <%=image_tag message.user.image.thumb.url, class: "talk-img" %> <p><%= "#{message.content}" %></p>
   <%else%>
      <%= image_tag 'default.jpg', class: "talk-img" %>   <p><%= "#{message.content}" %></p>
   <%end%>
  </div>
<%end%>