<div class="container" >

<div class="row">

    <section class="user_info">
      <h1><%= link_to @user.name, @user %></h1>
    </section>


    <section class="stats1">
       <%= render 'shared/stats' %>
     </section>
      <table class = "table table-hover">
      <% if @users.any? %>
            <thead class="thead-light">
               
                <tr>
                    <th ><%=@title %></th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>

                 <% @users.each do |user|%>
              
                    <tr>                
                     <th width = "100"><%=image_tag user.image.thumb100.url if user.image? %></th>
                     <th width = "100"> <%= link_to user.name, user_path(user) %>
                      <th width = "900"> ジャンル：<%=user.genre %><br><%= user.introduce %></th>
                    </tr>
                  <% end %>

            <%else%>
            <thead class="thead-light">
               
            <tr>
                <th ><%=@title %>はいません</th>
                
            </tr>
        </thead>
            <% end %>

          </tbody>
        </table>

</div>
</div>