<div class="jumbotron">
<div class="container">
<h1 class="display-3"><%= @user.name %> </h1>
<h2 > ▶︎ <%= @user.genre%></h2>
<%= image_tag @user.image.thumb.url if @user.image?  %> 

 
<div>
<section class="stats" >
  <%= render 'shared/stats' %>
</section>
<%= render 'follow_form' %>

</div>
</br>
<p class="lead"><%= @user.introduce%></p>

<hr class="my-2"> 
<% if @user.address %>
<p><%= @user.address  %>在住 , 
<%end%>
<% if @user.age %>
<%= @user.age%>才 , 
<%end%>
<%= @user.sex%>
<% if @current_user.id == params[:id].to_i %>
　　<%= link_to '編集する', edit_user_path %></p>
<%end%>
<br>
</div>
</div>

<div class="container">
<div class="row">
    <div class="col-md-12">
      <% if @current_user.id == params[:id].to_i %>
        <table class = "table table-hover">
            <thead class="thead-light">
                <tr>
                    <th >投稿一覧</th>
                    <th >メニュー</th>
                </tr>
            </thead>
            <tbody>
                <% @user.posts.each do |post|%>
                 <tr>
                     <td><a href="/posts/<%=post.id%>"><%=post.condition%>をするかわりに<%=post.content%></a></td>
                     <td> <%=link_to "編集する", edit_post_path(post)%>
                          <%=link_to "削除する", post_path(post), method: :delete, data:{confirm: '削除しますか？'}%>
                     </td>
                 </tr>
                 <%end%>
            </tbody>
        </table>
        <% elsif @current_user.id != params[:id].to_i %>
        <table class = "table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>投稿一覧</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @user.posts.each do |post|%>
                 <tr>
                    
                     <td><a href="/posts/<%=post.id%>"><%=post.condition%>をするかわりに<%=post.content%></a></td>
                 </tr>
                 <%end%>
            </tbody>
        </table>
      <% end %>
        
    </div>

</div>


