<div class="container" >
  <div class="follow-page">
  <section class="user_info">
    <h1><%= link_to @user.name, @user %></h1>
  </section>

  <section class="stats1">
      <%= render 'shared/stats' %>
  </section>

      <% if @users.any? %>
         <div class="follow-title">
           <i class="fas fa-user fa-1x"> <%=@title %></i>
         </div>
         <% @users.each do |user|%>
           <div class="media follow-users">
             <div class="d-flex mr-3">
               <%if user.image? %>
                 <%=image_tag user.image.thumb.url, class: "message-img-top"%>
               <%else%>
                 <%=image_tag 'default.jpg', class: "message-img-top"%>
               <%end%>
             </div>
               <h3><%= link_to user.name, user_path(user) %></h3>
           </div>
         <% end %>
       <%else%>

    
             <%=@title %>はいません
       <% end %>
    </div>
</div>