<div class="container">
  <%= link_to "<<back index", rooms_path %>
  <h1><%= "Chat Room #{@room.id}" %></h1>
  <h4 class="border"><%= "Your Mail Address: #{current_user.email}" %></h4>
  <div id="messages", data-room_id="<%= @room.id %>">
    <%= render @messages %>
  </div>
  <form  class="form-inline">
<div class="form-group">
<input type="text"  class="form-control"  id="chat-input">
</div>
<button id="button" class="btn btn-primary">送信</button>

</form>
</div>