<div class="container">
<br>
<br>
<div class="btn-posts">
<%= link_to '投稿する', new_post_path ,class: "btn btn-primary  "%>
</div>

<div class="row">
    <div class="col-md-12">
        <table class = "table table-hover">
            <thead class="thead-light">
                <tr> 
                    <th>投稿一覧</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each do |post|%>
              
                <tr>                
                     <th width = "100"><%=image_tag post.user.image.thumb100.url if post.user.image? %></th>
                     <th width = "100"> <%= link_to post.user.name, user_path(post.user) %>
                      <th width = "900">  <a href="/posts/<%= post.id %>"><span style="font-size:2em;"><%= post.condition%></span>をするかわりに<br><span style="font-size:2em;"><%=post.content%></span></a></th>
                     
                 </tr>
                 
                 <%end%>
                
            </tbody>
            
        </table>


       
    </div>
</div>
</div>