<div class="jumbotron" >
  <div class="container",text-align:center;>
 
  <div class="post">
       
        <p class="display-4"><%= link_to @post.user.name, user_path(@post.user)%></p>

       <h1 class="display-7"><%= @post.condition %></h1> 
       <p>をするかわりに</p>
       <h1 class="display-7"><%= @post.content %></h1>
      
       
        <p class="lead"><%= @post.user.email %></p>
         <p class="lead"><%= @post.created_at %></p>
      <% if @post.user_id == @current_user.id %>
      <%= link_to "編集する", edit_post_path %>
      <%=link_to "削除する", post_path(@post), method: :delete, data:{confirm: '削除しますか？'}%>
      <%end%>
      
    </div>
  </div>
</div>